<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<div id="gitalk-container" class="comment"></div> 
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script src="/js/md5.min.js"></script>
<script type="text/javascript">
	var gitalk = new Gitalk({
  	clientID: '<%= theme.gitalk.clientID %>',
  	clientSecret: '<%= theme.gitalk.clientSecret %>',
  	repo: '<%= theme.gitalk.repo %>',
  	owner: '<%= theme.gitalk.owner %>',
	admin: ['<%= theme.gitalk.admin %>'],
	distractionFreeMode: '<%= theme.gitalk.distractionFreeMode %>',
    id: md5(location.pathname)
})
gitalk.render('gitalk-container') 
</script>
