<div class="blank" style="padding-top: 0px;"></div>
<div id="content" class="site-content">
  <% if (theme.notice) { %>
  <div class="notice" style="margin-top:60px">
    <audio id="mymusic" src="<%= theme.myvoice%>" loop="loop"></audio>
    <i class="iconfont icon-notification" onClick="play()">
    </i>
    <div class="notice-content"><%= theme.notice%></div>
    <script>
      function play() {
        var audio = document.getElementById('mymusic');
        if (audio.paused) {
            audio.play();
        }else{
            audio.pause();
            audio.currentTime = 0;//音乐从头播放
        }
      }
    </script>
  </div>
  <% } %>
  <%- partial('_partial/startdash') %>
  <div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
      <h1 class="main-title" style="font-family: 'Ubuntu', sans-serif;">
      <i class="fa fa-envira" aria-hidden="true"></i>
      发现</h1>
      <%- partial('_partial/archive', {pagination: 2, index: true}) %>
    </main>
  </div>
  <% if (page.total > 1 && page.next_link){ %>
    <div id="pagination"><a href="<%- url_for(page.next_link) %>" class="">Previous</a></div>
  <% } %>
</div>
<!-- js -->
<% if (theme.js.bg.sakura_petals){ %>
<script src="<%- theme.libs.js.sakura_petal %>"></script>
<% } %>
<% if (theme.js.bg.snow_petals){ %>
  <script src="<%- theme.libs.js.snow_petals %>"></script>
  <% } %>
<% if (theme.js.bg.live2d_widget){ %>
<script src="<%- theme.libs.js.live2d_widget %>"></script>
<link rel="stylesheet" href="<%- theme.libs.css.live2d_widget %>"/>
<% } %>
<% if (theme.js.hititle){ %>
<script src="<%- theme.libs.js.hititle %>"></script>
<% } %>
<% if (theme.js.clink.word){ %>
<script src="<%- theme.libs.js.word %>"></script>
<% } %>
<% if (theme.js.clink.cursor){ %>
<script src="<%- theme.libs.js.cursor %>"></script>
<% } %>
<% if (theme.js.clink.love){ %>
  <script src="<%- theme.libs.js.love %>"></script>
<% } %>
<% if (theme.js.bg.piao){ %>
  <script src="<%- theme.libs.js.piao %>" type="text/javascript"></script>
<% } %>
<% if (theme.js.KeyBlock){ %>
  <script src="<%- theme.libs.js.KeyBlock %>"></script>
<% } %>
<% if (theme.js.bg.bgchange ){ %>
  <script src="//instant.page/3.0.0" type="module" defer integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1"></script>
<% } %>

<!-- daovoice聊天功能 -->
<% if (theme.daovoice.enable){ %>
  <script>(function(i,s,o,g,r,a,m){i["DaoVoiceObject"]=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;a.charset="utf-8";m.parentNode.insertBefore(a,m)})(window,document,"script",('https:' == document.location.protocol ? 'https:' : 'http:') + "//widget.daovoice.io/widget/f6b2a0b1.js","daovoice")
    daovoice('init', {
      app_id: "<%= theme.daovoice.app_id%>"
    });
    daovoice('update');
  </script>
<% } %>

<!-- weather -->
  <% if (theme.weather.enable ){ %>
  <script type="text/javascript">
    WIDGET = {FID: '<%= theme.weather.app_id%>'}
    </script>
  <script type="text/javascript" src="https://apip.weatherdt.com/float/static/js/r.js?v=1111"></script>
<% } %>
